@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Libre+Franklin|Maven+Pro|Rubik');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  width: 85%;
  margin: auto;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

h1 {
  font-family: "Roboto Mono";
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color:#3E3E3E;
}

p {
  color: #3E3E3E;
}

.container {
  height: 100vh;
  position: relative;
}

.overlay-text {
  text-decoration: none;
  color: #FDC82E;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.title p {
	font-family: Roboto Mono;
	font-size: 32px;
  letter-spacing: 5px;
}

.main {
  width: 70%;
  font-family: 'Maven Pro';
  background: rgba(255, 255, 255, 1);
  max-width: 580px;
}

.main p {
	font-size: 17px;
  font-weight: 800;
  margin: 0px auto 25px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #383838;
  color: rgba(0, 0, 0, .9)
}

a.work {
	font-family: Roboto Mono;
	font-size: 24px;
  opacity: 0.8;
	color: #383838;
}

a.work:hover {
  font-size: 23px;
  opacity: 1;
}

a.mail-link {
	color: #434000;
  text-decoration: none;
  font-size: 12px;
  font-family: Roboto Mono;
  margin-top: -15px;
  letter-spacing: 0.8px;
  background: #FEFBDF;
  padding: 12px 25px 12px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  box-shadow: 0 4px 5px #FFDBDB;
  -webkit-transition: all .2s cubic-bezier(.005, .735, .63, .995);
  -o-transition: all .2s cubic-bezier(.005, .735, .63, .995);
  transition: all .2s cubic-bezier(.005, .735, .63, .995);
}

a.mail-link:hover {
  transform: scale(.95);
  background: #FFF5D1;

}

.social-text {
	text-align: center;
}

.social a {
	text-decoration: none;
}

.social {
	margin-top: 20px;
}

.social-icon {
  background: #FEFBDF;
  display: inline;
  border: 1px solid #FFDBDB;
  margin: 4px;
  padding: 0px;
  border-radius: 32px;
  color: #535353;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  background-repeat: no-repeat;
  background-size: 50vw auto;
  margin: 5px;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: box-shadow, -webkit-transform;
  transition-property: box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-transform; }

.social-icon:hover,
.social-icon:active {
  -webkit-transform: scale(1.1);
  text-decoration: none;
  transform: scale(1.1);
  outline: none; 
  background: #FFF5D1;
}

.title {
  margin-top: 5em;
}

.project-title {
  text-align: center;
  font-family: roboto Mono;
  color: #3E3E3E;
  font-size: 32px;
  margin-top: 5em;
}

.projects {
  width: 100%;
  position: relative;
  margin-top: 5 em;
  margin-bottom: 7em;
  text-align: center;
}

.project-desc {
  text-align: center;
  font-size: 16px;
  color: #3E3E3E;
  line-height: 28px;
  max-width: 490px;
  width: 90%;
  font-family: roboto Mono;
  margin: 40px auto 30px
}

.project-desc a {
  display: block;
  color: #654AFF;
  text-decoration: none;
}

.footer {
  text-align: center;
  padding-bottom: 7em;
}

.footer a {
  text-decoration: none;
  color: #575757;
  font-family: Roboto Mono;
}

.project-desc2 {
  text-align: center;
  font-size: 16px;
  color: #4C4C4C;
  line-height: 28px;
  max-width: 490px;
  width: 90%;
  font-family: roboto Mono;
  margin: 80px auto 30px;
}

.project-desc2 a {
  display: block;
  color: #654AFF;
  text-decoration: none;
}

.workimg {
  cursor: pointer;
  border-radius: 2px;
  opacity: 0.9;
  -webkit-transition: all .2s cubic-bezier(.005, .735, .63, .995);
  -moz-transition: all .2s cubic-bezier(.005, .735, .63, .995);
  -o-transition: all .2s cubic-bezier(.005, .735, .63, .995);
  transition: all .2s cubic-bezier(.005, .735, .63, .995)
}

.workimg:hover {
  opacity: 1;
  transform: scale(.99);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .15)
}

@media only screen and (max-width: 768px) {

body {
  overflow-x: hidden !important;
}

.container-wrapper {
  flex-direction: column;
  margin-top: 0px;
}

h1 {
  font-family: "Roboto Mono";
  font-size: 30px;
  font-weight: 200;
}

.title {
  margin-top: 1em;
  text-align: center;
  line-height: 38px;
}

.title p {
  font-family: Roboto Mono;
  font-size: 23px;
  letter-spacing: 1px;
}

.main {
  width: 100%;
  margin-top: 1.5em;
}

.social {
  width: 100%;
  margin-left: 0px;
}

.social-icon {
  width: 35px;  
  height: 35px;
  font-size: 16px;
}

.project-title {
  margin-top: 1em;
}

.projects {
  margin-bottom: 5em;
}

.footer {
  padding-bottom: 5em;
}

.workimg {
  max-width: 100%;
}

.project-desc2 {
  font-size: 16px;
  color: #4C4C4C;
  line-height: 28px;
  margin: 40px auto 30px;
}
}


